{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 3, "knowledge_revision": 7, "git_revision": "c325f4e17c2d56cb89bbfee42f57ecfa0b0acd28", "hash": "32ccaa7ce90622698c9020f587d08025", "format-version": 4, "code-base-name": "sp500_stock_evaluator_backend", "filename": "sp500_stock_evaluator_backend/requirements.txt", "revision_history": [{"7": "c325f4e17c2d56cb89bbfee42f57ecfa0b0acd28"}]}